*{padding: 0%; margin: auto; box-sizing: border-box;}
header{
    width: 100%;
    height: 100vh;
    background:linear-gradient(rgba(0,0,0,0.4),rgba(0, 0, 0, 0)), url('/Project-1/home_bg.jpg');
    background-size: cover;
    font-family: "Lores", sans-serif;
}
nav{
    width: 100%;
    height: 100px;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.menu a{
    font-family: "Lores", sans-serif;
    font-size: 24px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 10px 22px;
    position: relative;
}
.menu a:before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    border-bottom: 3px solid rgb(191, 191, 191);
    transition: 0.2s linear;
}
.menu a:hover:before{
    width: 90%;
}
.regis a{
    font-size: 24px;
    text-decoration: none;
    color: hsl(180, 100%, 50%);
    padding: 20px 8px;
    position: relative;
}
.regis a:before{
    content: '';
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    border-bottom: 3px solid rgb(0, 200, 255);
    transition: 0.2s linear;
}
.regis a:hover:before{
    width: 90%;
}


.counter{
    font-family: "Lores", sans-serif;
    color: rgb(0, 136, 255);
    display: flex;
    width: 100%;
    height: 20vh;
}
.counter div{
    font-size: large;
    flex-basis: 100px;
}
.counter div p{
    font-size: 50px;
    margin-bottom: -14px;
}

.words p{
    font-family: "Lores", sans-serif;
    color: hsl(180, 100%, 50%);
    font-size: 34px;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(41), cursor .4s step-end infinite alternate;
}

@font-face {
    font-family: "Lores";
    src: url(./LoRes12OTAltOakland-Bold.ttf);
}